#main-doc{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Lato", sans-serif;
    margin: 0px auto;
    font-size: 16px;
}


#navbar{
    position: fixed;
    width:22%;
    border-right: 2px solid #616266;
    left: 0;
    top:0;
}

#navbar header h1{
    padding: 4px 8px 10px 16px;
    border-bottom: 1px solid #616266;
    display: block;
    margin: 8px auto;
}
    /* The navigation menu links */
#navbar a {
    padding: 8px 8px 8px 16px;
    border-bottom: 1px solid #5E5F63;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
#navbar a:hover {
    color: #064579;
  }

.main-section{
    float: right;
    width: 75%;
    color:#646569;
}
.main-section header h1 {
    color:#000000;
}

.main-section p{
    padding: 0 20px;
}
ul li{
    padding: 8px;
}
.code{
    position: relative;
    background-color: #f1f1f1;
    font-size: 14px;
    padding: 10px 0px 0px 0px;
    margin: 30px;
    border-radius: 4px;
}

/* font-family: Consolas,"Courier New", Courier, monospace; */